.head {
    display: flex;
        justify-content: center;
   
    
}

.pImagen{
    display: flex;
    justify-content: center;
    
}


@media (min-width: 768px) {
    
    
    .pImagen{
        position: absolute;
        float: right;
        right: 10px;
    }
}

@media (min-width: 768px) {
    .head{
        position: absolute;
        float: left;
    }
}